<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>
        <!-- This is the sticky navbar -->



        <!-- This is the main container for the content -->
        <main id="wrapper" class="container-fluid">
            <div id="main-content" class="row">
                <div class="button-container">
                    <!-- First row -->
                    <div class="row pb-5">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-block btn-lg btn-rounded"><i
                                    class="bi bi-person-circle"></i><br>Personal</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-secondary btn-block btn-lg btn-rounded"><i class="bi bi-bug"></i><br>
                                Laborausrüstung</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning btn-block btn-lg btn-rounded"><i class="bi bi-eyedropper"></i><br>
                                Verbrauchsmaterial</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-info btn-block btn-lg btn-rounded"><i class="bi bi-bullseye"></i><br>
                                QC</button>
                        </div>
                    </div>
                    <!-- Second row -->
                    <div class="row gy-5">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-block btn-lg btn-rounded"><i
                                    class="bi bi-person-circle"></i><br>Personal</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-secondary btn-block btn-lg btn-rounded"><i class="bi bi-bug"></i><br>
                                Laborausrüstung</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-warning btn-block btn-lg btn-rounded"><i class="bi bi-eyedropper"></i><br>
                                Verbrauchsmaterial</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-info btn-block btn-lg btn-rounded"><i class="bi bi-bullseye"></i><br>
                                QC</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer mt-auto py-3 fixed-bottom bg-dark">
            <%- include('../partials/footer'); %>

        </footer>
</body>

</html>